.list {
    &-header {
        @include flexbox(row, center, space-between);
        font-size: $font-size-large;
        margin-bottom: $margin * 2;
        padding: 0 $padding;
    }
    &__container {
        width: 100%;
        min-height: 50%;
        font-size: $font-size-xs;
        margin-bottom: $margin * 2;

        ul {
            li {
                padding: $padding $padding * 2;
                cursor: pointer;
                user-select: none;
                &:hover {
                    background-color: $primary-light;
                }
                &.active {
                    background-color: $primary-light;
                    color: $primary;
                }
            }
        }
    }
}
